.main {
    background-color: #fff;
}
.logo img{
    width: 75%;
    height: auto;
}
.account i, .cart i{
    font-size: 1.5rem;
}
@media screen and (max-width: 992px){
    .account i, .cart i{
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 768px){
    .account i, .cart i{
        font-size: 1rem;
    }
}