.main{
    background-color: #e5e5e5;
}

.thMember, .thReview {
    background-color: #c4c4c4;
    font-size: 0.75rem;
}

.tMember tbody, .tReview tbody {
    font-size: 0.6rem !important;
}
.tdMember, .tdReview {
    cursor: pointer;
}
.titleTableReview h5, .titleTableMember h5{
    font-size: 1rem !important;
}
.btnBanned, .btnDelete, .btnUnbanned, .btnViewMore, .btnClose {
    font-size: 0.6rem;
    padding: 0.25rem 0.5rem;
}

.tdOpenListRating{
    cursor: pointer;
    color: #007bff;
}
.tdOpenListRating:hover{
    text-decoration: underline;
}
.paginationMember li:not(.disabledBtn), .paginationReview li:not(.disabledBtn){
    cursor: pointer;
}
.paginationMember li, .paginationReview li {
    font-size: 0.65rem !important;
}

.reviewImg .listImage {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

@media screen and (min-width: 768px){
    .paginationMember li, .paginationReview li {
        font-size: 0.725rem !important;
    }
    .thMember, .thReview {
        font-size: 0.925rem;
    }
    .tMember tbody, .tReview tbody {
        font-size: 0.775rem !important;
    }
    .titleTableReview h5, .titleTableMember h5{
        font-size: 1.125rem !important;
    }
    .btnBanned, .btnDelete, .btnUnbanned, .btnViewMore, .btnClose {
        font-size: 0.7rem;
        padding: 0.25rem 0.5rem;
    }
}

@media screen and (min-width: 992px){
    .paginationMember li, .paginationReview li {
        font-size: 0.85rem !important;
    }
    .thMember, .thReview {
        font-size: 1rem;
    }
    .tMember tbody, .tReview tbody {
        font-size: 0.925rem !important;
    }
    .titleTableReview h5, .titleTableMember h5{
        font-size: 1.15rem !important;
    }
    .btnBanned, .btnDelete, .btnUnbanned, .btnViewMore{
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem;
    }
}